html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100%;
  }
  
  header {
    background-color: #66b3ff;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  
  button {
    background-color: #bed8f3;
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
  }
  
  button:hover {
    background-color: #3385ff;
  }
  
  h1 {
    color: #66b3ff;
    text-align: center;
  }